<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Niconne&family=Seaweed+Script&display=swap" rel="stylesheet">
<div class="body">
  <app-header></app-header>
  <app-list title="NowPlaying" [movies]="nowPlaying"></app-list>
  <app-list title="Animation" [movies]="animation"></app-list>
  <app-list title="Adventure" [movies]="adventure"></app-list>
  <app-list title="UpComing" [movies]="upComing" ></app-list>
  <app-list title="Fantasy" [movies]="fantasy"></app-list>
  <app-list title="Family" [movies]="family"></app-list>
</div>
<footer>
  <p class="copyright" style="color: rgb(0, 255, 0);">Grace Nyutu © 2022</p>
</footer>
